body{
  background-color: yellow;
}
#curvedarrow {
  border:0 solid transparent;
  border-bottom: 10px solid black;
  border-radius: 230px ;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: absolute;
  transition: all .1s linear; 
  margin-top: -50px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
}
#curvedarrow:hover {
    border-bottom: 20px solid black;
}
					
#curvedarrow:before, #curvedarrow:after {
  position: absolute;
  content: "";
  height: 40px;
  width: 20px;
  top: 30px;
  border-radius: 100%;
  display: block;
}

#curvedarrow:before {
   background-color: black;
 left: 30px;
}

#curvedarrow:after {
 background-color: black;
right: 30px;
  
}